/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
    background-image: url("background-home.jpg");
    background-size:cover;

}

.header{
    padding-bottom:70px;
}
.nav-item{
    float:left;
    list-style: none;
    margin-top:15px;
    margin-left: 20px;
}

.nav-login-btn{
    list-style:none;
    float:left;
    margin-left: 20px;
}
.navbar-fixed-top {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 100;
    margin-bottom: 0;
}



.content{
    padding-bottom: 50px;
}


.pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
}



//header
.btn-header-green{
    background-color:rgb(137, 211, 137);
    border:rgb(137, 211, 137);

}
.btn-header-blue{
    background-color:rgb(127, 176, 216);
    border:rgb(127, 176, 216);
}
.btn-header-yellow{
    background-color:rgb(221, 215, 137);
    border:rgb(221, 215, 137);
}
.header-btn{
    border-radius:5px;
    padding:8px 14px;
    color:white;
}

.header-btn:hover{
    background-color: rgb(180, 178, 179)
}
//container
.alerts{
    margin-top:15px;
}
//footer

footer{
    height:300px;
    margin-top:200px;
}