// Place all the styles related to the Hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//hello
.title{
    text-align:center;
    font-size:60px;
    padding-top:150px;
    letter-spacing:8px;
    font-family:'Oswald', cursive;
}

.under-title{
    text-align:center;
}

.home-image{
    padding-top:30px;
    padding-left:160px;
    width:600px;
    height:300px;
    
}

.success-message{
    color:rgb(221, 156, 210);
    background-color: white;
    width:160px;
    margin:10px;
}

