// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



//show
.top-title-message{
    background: linear-gradient(transparent 80%, #a7d6ff 20%);
}

.form-cu{
    text-align:right
}

strong{
    font-size:20px;
}

.cuname{
    margin-left:30px;
}
.uname{
    margin-right:30px;
}

.message-form{
    text-align:center;
    margin-top:30px;
}

